.section-portfolio, .section-clients, .section-team, .section-feature {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section-portfolio, .section-clients, .section-team, .section-feature {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #fff;
  color: #757575;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h5, p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  width: 100%;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

.page-header {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 80px;
  border-bottom: 1px solid #EEEEEE;
  background-color: #fff;
}
@media screen and (min-width: 480px) {
  .page-header {
    display: flex;
    align-items: center;
    min-height: 60px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  color: #2196F3;
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo__accent {
  color: #212121;
}

.menu {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}
.mobile-menu__item {
  margin-bottom: 32px;
}

.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: #2196F3;
}

.mobile-menu__link {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 40px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile-contact {
  margin-top: 306px;
}

.mobile-contact__number {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.mobile-contact__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobail-social {
  display: flex;
}

.mobail-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2196F3;
  margin-right: 20px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}
.mobail-social__link:nth-last-child(-n+4) {
  border-right: 0;
}

.mobile-contact__item {
  margin-bottom: 32px;
}

.menu .mobile-menu__link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

.menu .mobile-menu__link:hover,
.menu .mobile-menu__link:focus {
  text-decoration: underline;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  fill: #2196F3;
}

.menu-container {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 32px;
  background-color: #fff;
}
.menu-container.is-open {
  display: block;
}
.menu-container.is-open .icon-close {
  display: none;
}
@media (min-width: 768px) {
  .menu-container {
    display: none;
  }
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

@media screen and (min-width: 480px) {
  .main-nav {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .main-nav {
    display: flex;
    align-items: center;
  }
}

.site-nav {
  position: relative;
}
.site-nav .site-nav__item + .site-nav__item {
  margin-left: 50px;
}
@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
    align-items: center;
    margin-left: 88px;
  }
}

.site-nav, .site-contact {
  width: 50;
  height: 60;
}

.site-nav .site-nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .site-nav__link:hover, .site-nav .site-nav__link:focus {
  color: #2196F3;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .site-nav .site-nav__link {
    font-size: 14px;
    line-height: 1.14;
  }
}

.site-nav__link.current::after {
  content: "";
  position: absolute;
  display: blok;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  background: #2196F3;
  border-radius: 2px;
}

.site-nav__link.current {
  color: #2196F3;
}

.site-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
@media screen and (min-width: 1200px) {
  .site-contact {
    margin-bottom: 10px;
    margin-left: auto;
    display: flex;
    gap: 40px;
  }
}

@media screen and (min-width: 768px) {
  .site-contact__item {
    margin-top: 10px;
  }
}

.site-contact__link {
  display: flex;
  align-items: center;
  color: #757575;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-contact__link:hover, .site-contact__link:focus {
  color: #2196F3;
}

.site-contact__icon {
  position: relative;
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  padding-top: 118px;
  padding-bottom: 180px;
  text-align: center;
  width: 480px;
  height: 400px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mobailx1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  background-color: #2F303A;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero .hero {
    background-image: url(../images/hero-mobailx2.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    width: 768px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tabletx1.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tablet2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 280px;
    width: 1600px;
    height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-desktopx1.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-desktopx2.jpg);
  }
}

.hero__title {
  margin: 0 auto 30px;
  color: #fff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}

.hero__button {
  display: inline-block;
  border: none;
  padding: 10px 32px;
  background-color: #2196F3;
  border-radius: 4px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:focus, .hero__button:hover {
  background-color: #188CE8;
}

@media screen and (min-width: 768px) {
  .feature__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .feature__list {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
  }
}

@media screen and (min-width: 480px) {
  .feature__item {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .feature__item {
    width: calc((100% - 30px) / 2);
    margin: 0;
  }
}
.feature__title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #212121;
}
@media screen and (min-width: 768px) {
  .feature__title {
    text-align: left;
  }
}

.feature__text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

.feature__wrapper {
  display: flex;
  justify-content: center;
  border-radius: 4px;
  background-color: #F5F4FA;
  width: 450px;
  height: 120px;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .feature__wrapper {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .feature__wrapper {
    width: 270px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.section-services {
  display: none;
  padding-top: 0;
  padding-bottom: 94px;
}
.section-services__title {
  margin-top: 0;
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .section-services {
    display: block;
  }
}

.services {
  position: relative;
  display: flex;
  gap: 30px;
}

.services__text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 0;
  color: #fff;
}

.section-team {
  background-color: #F5F4FA;
}
.section-team__title {
  margin-top: 0;
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .team {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    display: flex;
    gap: 30px;
  }
}

.team-user {
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-user__items {
  margin-top: 30px;
  margin-bottom: 30px;
}
@media screen and (man-width: 480px) {
  .team-user {
    width: 450px;
    height: 622px;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 767px) {
  .team-user {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team-user {
    width: 354px;
    height: 536px;
  }
}
@media screen and (min-width: 1200px) {
  .team-user {
    width: 270px;
    height: 428px;
  }
}

.team-user__name {
  margin-bottom: 10px;
  color: #212121;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team-user__position {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-bottom: 30px;
}

.social-list__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: #AFB1B8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:focus, .social-list__link:hover {
  border-radius: 50%;
  background-color: #2196F3;
  color: #fff;
}

.social-list__icon {
  fill: currentColor;
}

.clients-section__title {
  margin-top: 0;
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.clients-list__item:nth-child(2n) {
  margin-right: 0;
}
.clients-list__item:nth-last-child(-n+2) {
  margin-bottom: 0;
}

.clients-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__link:hover, .clients-list__link:hover .clients-list__icon {
  border-color: #2196F3;
  fill: #2196F3;
}

.clients-list__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
  font-size: 14px;
  line-height: 1.71;
}
.footer-contact__item {
  text-align: center;
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .footer-contact__item {
    text-align: left;
  }
}
.footer-contact {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer-nav {
    display: flex;
    align-items: center;
  }
}

.footer-contact__link {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contact__link:hover, .footer-contact__link:focus {
  color: #2196F3;
}

.footer-contact__location {
  color: #fff;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contact__location:hover, .footer-contact__location:focus {
  color: #2196F3;
}

.logo-footer {
  text-align: center;
  display: block;
  margin-bottom: 20px;
  color: #2196F3;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo-footer__accent {
  color: #fff;
}
@media screen and (min-width: 1200px) {
  .logo-footer {
    text-align: left;
  }
}

.footer-social__title {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #fff;
}
@media screen and (min-width: 1200px) {
  .footer-social__title {
    text-align: left;
  }
}

.footer-social {
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer-social {
    margin-left: 94px;
  }
}

.footer-social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social__link:hover, .footer-social__link:focus {
  border-radius: 50%;
  background-color: #2196F3;
  color: #fff;
}

.footer-social__icon {
  fill: currentColor;
}

.footer-social__list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer-subscription__label {
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .footer-subscription__label {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .footer-subscription {
    margin-left: auto;
  }
}

.footer-subscription input {
  width: 450px;
  height: 50px;
  padding: 15px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2F303A;
  color: #fff;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-subscription input:hover, .footer-subscription input:focus {
  border-color: #2196F3;
}
@media screen and (min-width: 1200px) {
  .footer-subscription input {
    display: flex;
    width: 358px;
    margin-left: auto;
  }
}

.footer-subscription__button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  width: 200px;
  height: 50px;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: 140px;
  margin-right: 140px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-subscription__button:hover, .footer-subscription__button:focus {
  background-color: #188CE8;
}
@media screen and (min-width: 1200px) {
  .footer-subscription__button {
    margin-right: 0;
    margin-left: 12px;
  }
}

.footer-subscription__icon {
  margin-left: 10px;
  fill: currentColor;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  padding: 40px;
  width: 450px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow-y: scroll;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

/* Button close  modal */
.modal-button__close {
  position: absolute;
  display: flex;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}
.modal-button__close:hover .close-black {
  fill: #2196F3;
}

.close-black {
  display: flex;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-list {
  width: 100%;
}

.form-field {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form-field__label {
  margin-bottom: 4px;
}

.form-field__input {
  position: relative;
  width: 370px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field__input:focus, .form-field__input:hover {
  border-color: #2196F3;
}
@media screen and (min-width: 1200px) {
  .form-field__input {
    width: 448px;
  }
}

.form-field__icon {
  display: inline-block;
  position: absolute;
  left: 15px;
  top: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__input:hover + .form-field__icon,
.form-field__input:focus + .form-field__icon {
  fill: #2196F3;
  border-color: #2196F3;
}

.form-field__textarea {
  width: 370px;
  height: 120px;
  padding: 12px 16px;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field__textarea:hover, .form-field__textarea:focus {
  border-color: #2196F3;
}
@media screen and (min-width: 1200px) {
  .form-field__textarea {
    width: 448px;
  }
}

.form-consent {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.form-consent__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  border-radius: 2px;
}

.form-consent__icon {
  display: block;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.form-consent__check {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  margin-left: 10px;
  margin-right: 10px;
  border: 2px solid #212121;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-consent__checkbox:checked + .form-consent__check {
  background-color: #2196F3;
  border: 1px solid #2196F3;
}

.form-consent__checkbox:checked + .form-consent__check .form-consent__icon {
  opacity: 1;
}

.form-link {
  color: #2196F3;
  text-decoration: underline;
}

.modal-button__send {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  color: #fff;
  margin: 30px auto 0;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button__send:hover {
  background-color: #188CE8;
}

.pf-nav__button {
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 26px;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  font-family: inherit;
  cursor: pointer;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pf-nav .pf-nav__button:hover, .pf-nav .pf-nav__button:focus {
  background-color: #2196F3;
  color: #fff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.pf-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .pf-nav {
    display: flex;
    justify-content: center;
  }
}

.portfolio-card__title {
  margin-bottom: 4px;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__link {
  display: block;
  color: #757575;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card__text {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  padding: 20px 24px;
}

@media screen and (min-width: 768px) {
  .portfolio {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio {
    display: flex;
    flex-wrap: wrap;
  }
}

.portfolio__item {
  border: 1px solid #EEEEEE;
  background-color: #fff;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .portfolio__item {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
  }
  .portfolio__item:nth-child(2n) {
    margin-right: 0;
  }
  .portfolio__item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
  }
  .portfolio__item:nth-child(3n) {
    margin-right: 0;
  }
  .portfolio__item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}

.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__item:hover .portfolio-thumb__text {
  transform: translateY(0%);
}

.portfolio__item:hover .portfolio-thumb::before {
  transform: translateY(0%);
}

.portfolio-thumb {
  display: block;
  position: relative;
  overflow: hidden;
}

.portfolio-thumb::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 1;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-thumb__text {
  position: absolute;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #fff;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}/*# sourceMappingURL=main.css.map */