
  .section-feature{ @extend %section;}

  .feature__list{
    @media screen and ( min-width:768px ){
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
    }

    @media screen and ( min-width:1200px ){
      display: flex;
      flex-wrap: nowrap;
      gap: 30px;
     
    }
   }
  
   .feature__item{
    @media screen and ( min-width:480px ){
      margin-bottom: 30px;
      
    }
   @media screen and ( min-width:768px ){
      width:calc( ( 100% - 30px ) / 2 );
      margin: 0;
    }
    
    
    @media screen and ( min-width:1200px ){
     
      }
  
   
  }

  .feature__title{
    text-align: center;
      margin-top: 30px;
      margin-bottom: 10px;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      text-transform: uppercase;
      color:$PrimaryTextcolor;
      
      @media screen and ( min-width:768px ){
        text-align: left;
      }}
  
  
  .feature__text{ 
  
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color:$TitleTextcolor;
  }
  
  
  .feature__wrapper{
    display: flex;
    justify-content: center;
    border-radius: 4px;
    background-color: $ThirdBCGcolor;
    width: 450px;
    height: 120px;
    align-items: center;
    
    @media screen and ( min-width:768px ){
      width: 354px;
    }
    @media screen and ( min-width:1200px ){
      width: 270px;
    
    }
   }
  
  .visually-hidden{
      position: absolute;
      white-space: nowrap;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;
    } 