.footer { 
  
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $SecondaryBCGcolor;
    font-size: 14px;
    line-height: 1.71;

&-contact__item{
    text-align: center;
    margin-bottom: 12px;
    
    }
    &-contact{
      margin-bottom: 60px;
    }
    }


 .footer-nav{
  @media screen and ( min-width:768px ){
    display: flex;
    flex-wrap:wrap;
  }
 }
 
 .footer-contact__link{
 
      font-size: 14px;
      line-height:1.7;
      letter-spacing: 0.03em;
      font-style: normal;
      color: rgba(255, 255, 255, 0.6);
      
      
      transition: color $Cubic ; 


      &:hover ,  &:focus { color:$AccentColor;}
      
    }

.footer-contact__location { 
        color: $PrimaryWhitecolor;
        font-style: normal;
        transition: color $Cubic ; 

        &:hover , &:focus { color:$AccentColor;}
      }
      
      