.form-list{
    width: 100%;
  }
  
  .form-field{
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  
  }
  
  .form-field__label{
    margin-bottom: 4px;
  }
  .form-field__input{
    position: relative;
    width: 448px;
    height: 40px;
    
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    
    padding-left: 42px;
    outline: none;
    
    transition: border-color $Cubic;

    &:focus , &:hover{
        border-color: $AccentColor;
      }
      
    
  }
  .form-field__icon{
    display: inline-block;
    position: absolute;
    
    left: 15px;
    top: 50%;
    
    transition: fill $Cubic;
    
  }

  .form-field__input:hover + .form-field__icon,

  .form-field__input:focus + .form-field__icon {
  fill: $AccentColor ;
  border-color: $AccentColor ;
}

.form-field__textarea{ 
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  
  color: rgba(117, 117, 117, 0.5);
  
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  resize: none;
  
  transition: border-color $Cubic;

  &:hover , &:focus{ border-color: $AccentColor;}
}


.form-consent{
position: relative;
display: flex;
align-items: center;
justify-content: center;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
cursor: pointer;
}

.form-consent__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  border-radius: 2px;
}
.form-consent__icon{
  display: block;
  align-items: center;
  justify-content: center;
  opacity: 0;
}
.form-consent__check{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 15px;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid $PrimaryTextcolor;
  
    transition:  border $Cubic, background-color $Cubic;}
    
    
    
    .form-consent__checkbox:checked + .form-consent__check{
      background-color:  $AccentColor;border: 1px solid  $AccentColor;
    }

  .form-consent__checkbox:checked + .form-consent__check .form-consent__icon{
    opacity: 1;
    }
  
  .form-link{ 
    color:  $AccentColor;
    text-decoration: underline;
  }
  .modal-button__send{
    display: block;
    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    color: $PrimaryWhitecolor;
    
    margin: 30px auto 0;
    
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background-color: $AccentColor;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    cursor: pointer;
    
    transition: background-color $Cubic;
    
    &:hover{ background-color:$AccentSecondarycolor;}

    }
      