.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-left: 40px;
  padding-top: 48px;
  padding-bottom: 48px;
  transform: translateX(100%);
  transition: transform $Cubic;
  
  z-index: 99;
  
  background-color: $PrimaryWhitecolor;
  
  &.is-open {
          transform: translateX(0);
      }
  
      @media screen and (min-width: 767px) {
          display: none;
      }
  }
  
  .menu-toggle {
      position: absolute;
      top: 21px;
      right: 21px;
  
      border: none;
      background-color: transparent;
  
      &:hover svg,
      &:focus svg {
          fill: $AccentColor;
      }
  
      @media screen and (min-width: 768px) {
          display: none;
      }
  }
  
  .close__svg {
      transition: fill $Cubic;
  }
  
  .burger {
      border: none;
      background-color: transparent;
  
      .is-open .burger__menu {
          display: none;
      }
  
      @media screen and (min-width: 768px) {
          display: none;
      }
  }
  
  .navigation {
      margin-bottom: 290px;
  
      &__link {
              font-weight: 500;
              font-size: 40px;
              line-height: 1.18;
              letter-spacing: 0.02em;
          
              color: $PrimaryTextcolor;
  
              &:hover,
              &:focus {
                  color: $AccentColor;
              }
      }
  
      &__item:not(:last-child) {
              margin-bottom: 30px;
          }
  }
  
  .navigation__list .current {
      color: $AccentColor;
  }
  
  .authorization {
      margin-bottom: 64px;
  
      &__item:first-child {
              margin-bottom: 32px;
          }
  
      &__link {
          font-weight: 500;
          font-size: 24px;
          line-height: 1.17;
          letter-spacing: 0.02em;
      
          color: $TitleTextcolor;
  
          &:hover,
          &:focus {
                  color:$AccentColor;
              }
      }
  }
  
  .number {
      font-size: 34px;
      color: $AccentColor;
  }
  
  .menu-social {
      display: flex;
      flex-wrap: wrap;
  
      &__item {
          padding-left: 10px;
          padding-right: 10px;
  
          &:first-child {
              padding-left: 0px;
          }
  
          &:last-child {
              padding-right: 0px;
          }
  
          &:not(:last-child) {
              border-right: 1px solid rgba(33, 33, 33, 0.2);
          }
      }
  
      &__link {
              font-weight: 500;
              font-size: 18px;
              line-height: 1.22;
              letter-spacing: 0.02em;
          
              color: $AccentColor;
      }
  }