.portfolio-card__title{ 
    margin-bottom: 4px;
    color: $PrimaryTextcolor;
    font-weight: 700;
    font-size: 18px;
    line-height:2;
    letter-spacing: 0.06em;}
   
   .portfolio__link{ 
   display: block;
   color: $TitleTextcolor;
   transition: box-shadow $Cubic;
   }
   
   .portfolio-card__text{ 
   font-size: 16px;
   line-height: 30px;
   letter-spacing: 0.03em;
   padding: 20px 24px; }
   
   
   .portfolio{ 
    @media screen and ( min-width:768px ){
        display: flex;
        flex-wrap: wrap;
       
      }
    
    
    @media screen and ( min-width:1200px ){
        display: flex;
        flex-wrap: wrap;
      
      }
    }


    .portfolio__item{ 
 
        border: 1px solid $Bordercolor;
        background-color: $PrimaryWhitecolor;
        
        margin-bottom: 30px;
        

        @media screen and ( min-width:768px ){
        width:calc( ( 100% - 30px ) / 2 );
        margin-right: 30px;
        &:nth-child(2n){margin-right:0;}
        &:nth-last-child(-n + 2){margin-bottom: 0;}
           
          }
        
          @media screen and ( min-width:1200px ){
            width:calc( ( 100% - 60px ) / 3 );
            margin-right: 30px;
           
            &:nth-child(3n){margin-right:0;}
            
            &:nth-last-child(-n + 3){margin-bottom: 0;}
              }
        
        } 
        
        
        .portfolio__link:hover , .portfolio__link:focus{ box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);}
        
        .portfolio__item:hover .portfolio-thumb__text{
          transform:translateY(0%)
        }
        .portfolio__item:hover .portfolio-thumb::before{
          transform:translateY(0%)
        }
        .portfolio-thumb{
            display: block;
            position: relative;
            overflow: hidden;
            
          }
          .portfolio-thumb::before{ 
            content:'';
            display:block;
            
            position: absolute;
            
            width:100%;
            height:100%;
            background-color: rgba(33, 150, 243, 0.9);
            opacity: 1;
            
            transform:translateY(100%);
            transition: transform $Cubic;
          }
          
          .portfolio-thumb__text{
          position: absolute;
          font-size: 18px;
          line-height: 1.5;
          letter-spacing: 0.03em;
          color: $PrimaryWhitecolor;
          padding: 63px 24px;
          
          transform:translateY(100%);
          transition: transform $Cubic;
          
          }  