.section-team{ 
    background-color: $ThirdBCGcolor;
    @extend %section;

    &__title { 
        margin-top: 0;
        margin-bottom: 30px;
        
        color:$PrimaryTextcolor; 
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;}
       
        @media screen and ( min-width:1200px )
  {
    &__title {
      margin-bottom: 50px;
    }
  }
  
  }

.team{

    @media screen and ( min-width:768px )
  {
    display: flex;
    flex-wrap:wrap ;
    gap: 30px;
    
  }


    @media screen and ( min-width:1200px )
  {
    display: flex;
    gap: 30px;
    flex-wrap: nowrap;
  }
  

}

.team-user {  
background-color: $PrimaryWhitecolor;
border-radius: 0px 0px 4px 4px;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
margin-bottom: 30px;
&:last-child {
  margin-bottom: 0;
}

@media screen and ( min-width:767px )
  {
    flex-basis:calc( ( 100% - 30px ) / 2 );
   margin-bottom: 0;
  }
 
  @media screen and ( min-width:1200px )
  {
   
  
  }

}

.team-user__items{
  padding-top: 30px;
  padding-bottom: 24px;
  @media screen and ( min-width:1200px )
  {
    padding-bottom: 30px;
  
  }
}



.team-user__name{ 
    margin-bottom: 10px;
    color: $PrimaryTextcolor;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;}
    
    
.team-user__position{
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
  margin-bottom: 16px;}

// Social Networks

 .social-list{
        display:flex;
        justify-content: center;
        gap: 10px;
        
      }
      
.social-list__link{ 
        display: flex;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        color: $Clientscolor;
      
        transition: color $Cubic , background-color $Cubic; 
      
        &:focus , &:hover{border-radius: 50%; background-color:$AccentColor; color: $PrimaryWhitecolor;}
    }
      
.social-list__icon { fill:currentColor; }